<div class="tag-search"
     ng-class="{'focused': hasFocus, 'has-content': tags.length > 0 || searchText.length > 0}"
     ng-click="focus()">

  <div class="placeholder">{{placeholder}}</div>

  <div class="tag-input">
    <div class="tag"
         ng-repeat="tag in tags"
         ng-click="focus()">
      {{tag}}
      <i class="fa fa-times" ng-click="removeTag(tag)"></i>
    </div>

    <input id="search"
           type="text"
           autofocus
           ng-model="searchText"
           ng-delete="deletePressed()"
           ng-change="filterTags(searchText)"/>
  </div>

  <ul class="tag-search-options" ng-if="matches.length > 0">
    <li ng-repeat="tag in matches"
        ng-class="{'selected': $parent.activeIdx == $index}"
        ng-click="select($index)"
        ng-mouseover="$parent.activeIdx = $index">{{tag}}
    </li>
  </ul>

</div>
