@import "../../variables";

:host {
  flex: 1 1 auto;
  min-height: 0px;
  overflow-y: scroll;

  align-items: center;
  justify-content: stretch;

  display: flex;
  flex-direction: column;
  line-height: 1.3rem;

  transition: padding-top 1s, padding-bottom 1s, height 1s;

  @media print {
    overflow-y: inherit;
  }

  .about {
    font-size: 14px;
  }

  .container {
    transition: padding-top 1s, padding-bottom 1s, height 1s;
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 1rem;
    }

    h3 {
      border-bottom: 1px solid $grey_light;
      font-size: 24px;
      font-weight: 500;
      height: 33px;
      letter-spacing: -0.8px;
      line-height: 32.4px;
      margin-bottom: 0;
    }

    cv-event-list-item {
      padding-left: 2rem;

      &.job_change {
        padding-left: 0;
        margin-top: .5rem;
        //margin-bottom: .5rem;
      }
    }

    :last-child {
      margin-bottom: 2rem;
    }
  }

  &.expand {
    height: 100%;

    .container {
      padding-bottom: 1.5em;
      padding-top: 1.5em;
    }
  }

  &.collapse {
    height: 0;

    .container {
      padding-top: 0em;
      padding-bottom: 0em;
    }
  }
}
