
.display-screen {
  display: none;
}

* {
  -webkit-print-color-adjust: exact;
}

.container {
  width: 100%;
}

div.intro {
  border-bottom: none;

  p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
