$headerSize: 80;
$headerPadding: 20;
$bodyPadding: 20;
$animationMarginPadding: 2000;

.display-print {
  display: none;
}

body {
  overflow: hidden;
}

div.intro {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 25%;
  transition: height 1s, padding 1s, margin 1s, background-color 1s, border 1s, opacity 1s, line-height 1s;

  background-color: rgba(255, 255, 255, 100%);

  &.display {
    padding: $headerPadding;

    height: $headerSize;

    background-color: rgba(255, 255, 255, 100%);

    div.contact-icons {
      opacity: 100;
    }

    button.feeling-lucky {
      opacity: 0;
    }
  }

  button.feeling-lucky {
    transition: opacity .5s;
    opacity: 100;
  }

  div.contact-icons {
    transition: opacity 1s;
    opacity: 0;
  }
}

.content-box {
  transition: margin 1s, opacity .5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.init {
    margin-top: $animationMarginPadding;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &.display {
    margin-top: $headerSize + ($headerPadding * 2);
    opacity: 100;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
